@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  overflow: hidden;

  position: relative;
}

.desserts {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.imgs {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}

.btns {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  width: 49%;
  height: 5rem;
  border: none;
  background-color: palevioletred;
  color: #fff;
  font-size: 2rem;
  opacity: 0.5;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 1px;
}

.btn:hover {
  opacity: 1;
}

.btn:focus-visible {
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  opacity: 1;
}
